{
  "endOfLine": "lf",
  "trailingComma": "all",
  "arrowParens": "always",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "insertPragma": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^next(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^~/assets/(.*)$",
    "^~/types/(.*)$",
    "^~/constants/(.*)$",
    "^~/graphql/(.*)$",
    "^~/utils/(.*)$",
    "^~/modules?/(.*)$",
    "^~/hooks?/(.*)$",
    "^~/context/(.*)$",
    "^~/components/(.*)$",
    "^~/containers?/(.*)$",
    "^~/views/(.*)$",
    "^~/app/(.*)$",
    "",
    "^[./]"
  ],
  "overrides": [
    {
      "files": "changelog/**/*.md",
      "options": { "embeddedLanguageFormatting": "off" }
    }
  ]
}
