@font-face {
  font-family: 'GmarketSans';
  src: url('../assets/font/GmarketSansLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('../assets/font/GmarketSansMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('../assets/font/GmarketSansBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
